Package: linuxmuster-dehydrated
Version: 0.3
Architecture: all
Maintainer: Frank Schiebel <frank@linuxmuster.net>
Installed-Size: 110
Depends: curl
Section: unknown
Priority: extra
Homepage: https://github.com/lukas2511/dehydrated
Description: Dehydrated for easy Letsencrypr Certs in linuxmuster.net
