Source: linuxmuster-dehydrated
Section: unknown
Priority: extra
Maintainer: Frank Schiebel <frank@linuxmuster.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/lukas2511/dehydrated

Package: linuxmuster-dehydrated
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dehydrated for easy Letsencrypr Certs in linuxmuster.net
